<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script src="./js/tracery.min.js"></script>
<script src="./js/poemgenerator.js"></script>



<script>
var getUrlValue = function(VarSearch){
    var SearchString = window.location.search.substring(1);
    var VariableArray = SearchString.split('&');
    for(var i = 0; i < VariableArray.length; i++){
        var KeyValuePair = VariableArray[i].split('=');
        if(KeyValuePair[0] === VarSearch){
            return KeyValuePair[1];
        }
    }
}


</script>

<!--<link rel="stylesheet" href="css/bookmark.css" /> -->


<style type="text/css">
body {
	margin: 0px;
	padding: 0px;
  font-family: 'Roboto Mono';
}
.flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:row;
}

.centerdiv {
}

#bookmark {
  background-repeat: no-repeat;
    width: 400px;
  position: relative;
}

.b_elem {
  position: absolute;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
}


</style>

<!-- 
///////////////
CUSTOMIZE BELOW
/////////////// -->

<title>UNCOMPUTABLE POEM</title>

</head>

<body>
  <div class="flexcontainer" id="app">
	<div class="centerdiv">
    <div id="poem" v-bind:class="{ loading: isLoading}">
      POEM: {{poem}}
      BUT THIS IS THE RAW DATA

      <div v-for="(thisthemedata, thistheme, themeindex) in themedata">
        <b>i dream of my {{thistheme}}:</b>
        <div v-for="(thismemory, index) in thisthemedata">
					<span class="memory_from">we think of {{thismemory.memory_from}}</span>
					<span class="memory_to">we think of {{thismemory.memory_to}}</span>
					<span class="book_id">{{thismemory.book_id}}</span>
				</div>
      </div>

    </div>
	</div>

</div>
<script>


var vueapp = new Vue({
  el: '#app',
  methods: {
    downloadData() {
      var self = this;

      var API_SERVER = "https://library.cybernetics.social";

      var dumpPromise = $.get(API_SERVER + '/memories/dump', function(d) {
          self.$data.rawdata = d;
          self.$data.themedata = _.groupBy(d, "theme");
          self.$data.isLoading = false;
			});

			var bookPromise = $.get(API_SERVER + '/book', function(d) {
          self.$data.bookdata = _.keyBy(d, 'book_id');
			});

			Promise.all([dumpPromise, bookPromise]).then(function(values) {
          self.createPoem();
			});

    },
		createPoem() {
			console.log("create poem here");
      this.$data.poem = poemgen.createPoem({memories: this.$data.rawdata, books: this.$data.bookdata});
		}
  },
  mounted() {
		var self = this;
    this.downloadData();
    this.socket = io.connect('http://library.cybernetics.social/socket');
    this.socket.on('newdata', function(msg) {
			console.log("got a message that there's new data!");
			self.downloadData();
    });
    this.socket.on('refresh', function(msg) {
			console.log("got a message that we should refresh!");
			location.reload();
    });
  },
  updated() {
  },
  data: {
    isLoading: true,
    qrcode: null,
    themedata: null,
		rawdata: null,
		poem: null,
		bookdata: null
  }
})



</script>
</body>
</html>




